<div
  class="hero-banner h-screen bg-cover bg-center mt-[-98px] flex items-center"
  style="background-image: url('{{ section.settings.bg-img | img_url: "original" }}')"
>
  <div class="text-white c-w">
    <h1 class="text-4xl md:text-6xl text-white font-bold my-8">{{ section.settings.heading }}</h1>
    <p class="mb-8">{{ section.settings.description }}</p>
    <a href="#" class=" border px-5 py-3 rounded ">{{ section.settings.button }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "heading",
     "default": "Winter Collections"
    },
          {
      "type": "text",
      "id": "description",
      "label": "Description",
     "default": "Explore Rawada New Collections"
    },
          {
      "type": "text",
      "id": "button",
      "label": "button",
     "default": "Shop Now"
    },
      {
      "type": "image_picker",
      "id": "bg-img",
      "label": "Background Image"
    }
  ],
  "presets":[
    {
      "name":"Custom Banner"
    }
  ]
}
{% endschema %}
